.details{
    margin-top: 25px;
}
.common-style{
    background-color: #256D85;
    padding: 5px 10px;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
    border: none;
    outline: none;
}
a{
    text-decoration: none;
    color: #fff;
    padding: 5px 15px;
    margin-left: 15px;
    background-color: #000;
    border-radius: 10px;
}
.btn-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}